@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background-color: #0d1117;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.keyboard-case {
    background: #33363b;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 0 #222, 0 20px 40px rgba(0, 0, 0, 0.8);
    display: flex;
    gap: 20px;
}


.main-block {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}


.key {
    background: #1c1e22;
    color: #e6edf3;
    min-width: 45px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #444;
    box-shadow: 0 4px 0 #000;
    transition: all 0.1s;
}


.key:hover {
    background: #2d3139;
    color: #58a6ff;
}

.key:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 #000;
    background: #111;
}


.backspace {
    width: 100px;
}

.tab {
    width: 65px;
}

.enter {
    width: 90px;
}

.capslock {
    width: 85px;
}

.shift {
    width: 110px;
}

.space {
    width: 350px;
}

.ctrl {
    width: 60px;
}


.gap-small {
    width: 30px;
}