@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;

}

.keyboard-case {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
    display: flex;

    gap: 25px;
    box-shadow: 0 10px 0 #111, 0 15px 30px rgba(0, 0, 0, 0.7);

}


.key {
    background: #333;
    color: #eee;
    padding: 10px;
    min-width: 40px;
    height: 40px;
    border-radius: 6px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 0 #111;

    cursor: pointer;
    transition: 0.1s;
}

.key:active {
    transform: translateY(3px);

    box-shadow: 0 1px 0 #111;
    background: #444;
}


.main-block,
.numpad {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    gap: 8px;
}

.backspace {
    width: 85px;
}

.tab {
    width: 55px;
}

.enter {
    width: 80px;
}

.capslock {
    width: 70px;
}

.shift {
    width: 95px;
}

.space {
    width: 280px;
}


.grid-3x2,
.arrows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 50px;
}

.plus {
    height: 88px;
    grid-row: span 2;
}

.num-enter {
    height: 88px;
    grid-row: span 2;
}

.zero {
    width: 88px;
}

.empty {
    opacity: 0;
    pointer-events: none;
}